#navigationDiv{
  .compass{
    z-index: 1;
    left: 10px;
    top: 80px;
    width: 110px;
    height: 110px ;
    .cesium-svgPath-svg{display: none;}
  }
  .compass-outer-ring {
    cursor: pointer;
    display: inherit;
    width: 110px;
    height: 110px ;
    background-image: url(/images/compass/cesium_luopan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    &:hover{
      background-image: url(/images/compass/cesium_luopan_over.png);
    }
  }
  .compass-outer-ring-background{ display: none}
  .compass-gyro-background{ display: none;}
}

.navigation-controls {
  z-index: 999;
  right: 448px !important;
  top: unset !important;
  bottom: 240px;
  border: none !important;
  .navigation-control {
    background: rgba(21, 30, 37, 0.2);
    border: 1px solid #C0C8FF;
    height: 34px;
    width: 34px;
    &:hover {
      color: #31b5a6;
    }
    .cesium-svgPath-svg{
      border-radius: 50%;
      border: 2px solid #3049FE;
      padding: 1px;
      width: 60%;
      height: 60%;
      margin-left: 2px;
      margin-top: 2px;
    }
    &:nth-child(1) {
      margin-bottom: 6px;
      border-radius: 2px;
    }
    &:nth-child(2) {
      border-bottom: 0px;
      border-radius: 2px 2px 0 0;
    }
    &:last-child {
      margin-top: -2px;
      border-top: 0px;
      border-radius: 0 0 2px 2px;
    }
    .navigation-control-icon-reset{
      color:#30FBFE;
    }
  }
}

.navigation-controls .navigation-control-icon-zoom-in:hover,
.navigation-controls .navigation-control-icon-zoom-out:hover {
  fill: #dddddd;
}
