.el-checkbox{
  .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #3049FE;
    border-color: #3049FE;
    border-radius: 1px;
  }
  .el-checkbox__label{
    color: #BCCCFF;
  }
}

.el-switch{
  height: 24px;
  .el-switch__core{
    width: 24px !important;
    height: 12px !important;
    .el-switch__action{
      width: 8px;
      height: 8px;
      margin-left: 0;
    }
  }
}
.el-switch.is-checked{
  height: 24px;
  .el-switch__core{
    width: 24px !important;
    height: 12px !important;
    .el-switch__action{
      width: 8px;
      height: 8px;
      margin-left: calc(-1px - 8px);
    }
  }
}
.screen-input{
  .el-input__wrapper{
      background-color: unset;
      box-shadow:unset;
      .el-input__inner{
        height: 34px;
      }
  }
  .el-input-group__append,
  .el-input-group__prepend {
    padding: 0 12.5px;
    border-top-left-radius: 0;
    box-shadow: unset;
    background: unset;
    border-bottom-left-radius: 0;
    position: relative;
    height: 34px;
    font-size: 18px;
    color: #BCCCFF;
  }
}
