/* elementplus默认样式修改 */
.el-menu .el-sub-menu .el-sub-menu__title{
    background-color: #000000 !important;
}
.el-menu .el-sub-menu .el-menu--inline{
    background: #42607b!important;
}
.el-menu .el-sub-menu.is-active .el-sub-menu__title{
    background-color: #0000001a !important;
}
.example-content-menu .el-menu .el-sub-menu .el-menu-item{
    border-left: 3px solid #4e97d9!important;
    background-color: #42607b!important;
    height: 30px!important;
}
.el-menu .el-sub-menu .el-menu-item:hover{
    background-color: #0000001a!important;
    border-left-color: rgba(0, 0, 0, 0.3)!important;
}
.el-menu .el-sub-menu .el-menu-item.is-active{
    background-color: #0000001a!important;
    border-left-color: rgba(0, 0, 0, 0.3)!important;
}
.guide-content{
    margin-bottom: 10px;
    height: calc(100% - 10px);
}
.file-name{margin-left: 10px;}
.el-table thead{color: rgb(51, 51, 51);}
