.tab {
  display: inline-block;
  width: 51px;
  height: 43px;
  background: linear-gradient(270deg, rgba(48, 73, 254, 0.14) 0%, rgba(48, 73, 254, 0.5) 100%);
  border-radius: 2px;
  border: 1px solid rgba(192, 200, 255, 0.26);
  text-align: center;
  line-height: 43px;
  color: #9BAEEC;
  margin-top: 10px;
}

.resourceManagement {
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/resourceManagement.svg") no-repeat center/100%;
}

.resourceManagement:hover {
  background: url("/images/home/resourceManagementText.svg") no-repeat center/100%;
}

.dataManagement {
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/dataManagement.svg") no-repeat center/100%;
}

.dataManagement:hover {
  background: url("/images/home/dataManagementText.svg") no-repeat center/100%;
}

.measuringTools {
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/measuringTools.svg") no-repeat center/100%;
}

.measuringTools:hover {
  background: url("/images/home/measuringToolsText.svg") no-repeat center/100%;
}

.resourceManagementChecked {
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 45px;
  margin-bottom: 5px;
  background: url("/images/home/resourceManagementActive.svg") no-repeat center/100%;
}

.resourceManagementChecked:hover {
  background: url("/images/home/resourceManagementText.svg") no-repeat center/100%;
}

.resourceManagementChecked::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3049FE;
  position: relative;
  right: -52px;
  top: 10px;
}

.dataManagementChecked {
  display: inline-block;
  width: 51px;
  height: 45px;
  margin-bottom: 5px;
  background: url("/images/home/dataManagementActive.svg") no-repeat center/100%;
}

.dataManagementChecked:hover {
  background: url("/images/home/dataManagementText.svg") no-repeat center/100%;
}

.dataManagementChecked::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3049FE;
  position: relative;
  right: -52px;
  top: 10px;
}

.measuringToolsChecked {
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/measuringToolsActive.svg") no-repeat center/100%;
}

.measuringToolsChecked:hover {
  background: url("/images/home/measuringToolsText.svg") no-repeat center/100%;
}

.measuringToolsChecked::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3049FE;
  position: relative;
  right: -52px;
  top: 10px;
}

.el-dialog {
  background: #141726;
  border-radius: 30px 0 30% 0;
  border: 1px solid rgba(192, 200, 255, 0.4);
}

.el-dialog .el-dialog__header {
  background: #2D45F2;
  margin: 2px;
  border-radius: 26px 0 0 0;
  padding: 15px 0px;
}

.el-dialog .el-dialog__header .el-dialog__title {
  color: #fff;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 20px;
}

.el-dialog .el-dialog__headerbtn {
  top: 3px;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close {
  color: #FAFAFA;
  font-size: 24px !important;
}
