.tab{
  display: inline-block;
  width: 51px;
  height: 43px;
  background: linear-gradient(270deg, rgba(48, 73, 254, 0.14) 0%, rgba(48, 73, 254, 0.5) 100%);
  border-radius: 2px;
  border: 1px solid rgba(192, 200, 255, 0.26);
  text-align: center;
  line-height: 43px;
  color: #9BAEEC;
  margin-top: 10px;
}
.resourceManagement{
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/resourceManagement.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/resourceManagementText.svg") no-repeat center / 100%;
  }
}
.dataManagement{
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/dataManagement.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/dataManagementText.svg") no-repeat center / 100%;
  }
}
.measuringTools{
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/measuringTools.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/measuringToolsText.svg") no-repeat center / 100%;
  }
}
.resourceManagementChecked{
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 45px;
  margin-bottom: 5px;
  background: url("/images/home/resourceManagementActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/resourceManagementText.svg") no-repeat center / 100%;
  }
  &::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3049FE;
    position: relative;
    right: -52px;
    top: 10px;
  }
}
.dataManagementChecked{
  display: inline-block;
  width: 51px;
  height: 45px;
  margin-bottom: 5px;
  background: url("/images/home/dataManagementActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/dataManagementText.svg") no-repeat center / 100%;
  }
  &::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3049FE;
    position: relative;
    right: -52px;
    top: 10px;
  }
}
.measuringToolsChecked{
  display: inline-block;
  width: 51px;
  height: 45px;
  background: url("/images/home/measuringToolsActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/measuringToolsText.svg") no-repeat center / 100%;
  }
  &::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3049FE;
    position: relative;
    right: -52px;
    top: 10px;
  }
}

*::-webkit-scrollbar {width:3px; height:3px; background-color:transparent;} /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar-track {background-color:#262B4D;  } /*定义滚动条轨道 内阴影+圆角*/
*::-webkit-scrollbar-thumb {background-color:#3049FE; border-radius:5px;} /*定义滑块 内阴影+圆角*/
.scrollbarHide::-webkit-scrollbar{display: none}
.scrollbarShow::-webkit-scrollbar{display: block}

// 省略号
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
