body {
  font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.6;
}
/* elementplus默认样式修改 */
.el-menu{
  border-right: none;
}
.el-menu .el-sub-menu .el-sub-menu__title{
  background-color: #000000 !important;
}
.el-menu .el-sub-menu .el-menu--inline{
  background: #42607b!important;
}
.el-menu .el-sub-menu.is-active .el-sub-menu__title{
  background-color: #000000 !important;
}
.example-content-menu .el-menu .el-sub-menu .el-menu-item{
  border-left: 3px solid #4e97d9!important;
  background-color: #42607b!important;
  height: 30px!important;
}
.el-menu .el-sub-menu .el-menu-item:hover{
  background-color: #000000 !important;
  border-left-color: rgba(0, 0, 0, 0.3)!important;
}
.el-menu .el-sub-menu .el-menu-item.is-active{
  background-color: #000000 !important;
  border-left-color: rgba(0, 0, 0, 0.3)!important;
}
.API-content{
  margin-bottom: 10px;
  height: calc(100vh - 10px);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.guide-content{
  margin-bottom: 10px;
  height: calc(100vh - 120px);
  overflow: auto;
}
.file-name{margin-left: 10px;}
.el-table thead{color: rgb(51, 51, 51);}

.content{
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.table-btn{
  color: #409eff;
  margin: 0 8px;
  cursor: pointer;
}

.content-content{
  flex:1;
}

.go-back{
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 0 8px;
  cursor: pointer;
  color: #627CBE;
  .el-icon{
    margin-top: -4px;
    color: #333;
  }
}

.header-title{
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
}
