.tab{
  display: inline-block;
  width: 51px;
  height: 43px;
  background: linear-gradient(270deg, rgba(48, 73, 254, 0.14) 0%, rgba(48, 73, 254, 0.5) 100%);
  border-radius: 2px;
  border: 1px solid rgba(192, 200, 255, 0.26);
  text-align: center;
  line-height: 43px;
  color: #9BAEEC;
  margin-top: 10px;
}
.resourceManagement{
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/resourceManagement.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/resourceManagementText.svg") no-repeat center / 100%;
  }
}
.dataManagement{
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/dataManagement.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/dataManagementText.svg") no-repeat center / 100%;
  }
}
.measuringTools{
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/measuringTools.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/measuringToolsText.svg") no-repeat center / 100%;
  }
}
.resourceManagementChecked{
  margin-top: 10px;
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/resourceManagementActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/resourceManagementText.svg") no-repeat center / 100%;
  }
}
.dataManagementChecked{
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/dataManagementActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/dataManagementText.svg") no-repeat center / 100%;
  }
}
.measuringToolsChecked{
  display: inline-block;
  width: 51px;
  height: 48px;
  background: url("/images/home/measuringToolsActive.svg") no-repeat center / 100%;
  &:hover{
    background: url("/images/home/measuringToolsText.svg") no-repeat center / 100%;
  }
}
