body {
    height: 100%!important;
    padding: unset;
    padding-left: unset !important;
    padding-right: unset !important;
}

#write {
    height: 100%!important;
    width: 100% !important;
    margin: unset !important;
    padding: unset !important;
    display: flex;
    flex-direction: row;
}
html {
    height: 100%;
}
.md-toc {
    height: 100%!important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
    min-width: 230px;
    /* 菜单过宽时 */
    max-width: 442px;
    margin-top: unset !important;
    padding-bottom: unset !important;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    overscroll-behavior: contain;
}

.child-content {
    min-width: calc(100% - 230px);
    float: right;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px 0 10px 20px;
    overscroll-behavior: contain;
    
}
.child-content p span{
    font-size: 14px!important;
    color: rgb(51, 51, 51)!important;
    /* font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, "Segoe UI Emoji", sans-serif; */
}
.md-toc-content {
    margin-block-start: 0;
    margin-block-end: 0;
}

.md-toc-content a {
    color: #fff;
    font-weight: 700 !important;
}
/* 菜单过宽时 */
.md-toc-api{
    max-width: 442px;
}
.child-content-api {
    max-width: calc(100% - 442px);
}
/* 并列图 */
.createMap-p{
    white-space: unset !important;
}
.createMap3857{
    margin: 0 40px 0 10px!important;
    zoom: 50%!important;
}
.createMap4326{
    margin: 0 20px 0 10px!important;
}
h1 {
    font-size: 1.2rem!important;
}

h2 {
    font-size: 1rem!important;
}

h3 {
    font-size: 1rem!important;
}

h4 {
    font-size: 1rem!important;
}

h5 {
    font-size: 1rem!important;
}

h6 {
    font-size: 1rem!important;
}
.md-toc-h4 .md-toc-inner{
    margin-left: unset!important;
}